<!DOCTYPE html>
<html lang="ja">
  <head>
<<<<<<< HEAD
  	<title>ログイン</title>
=======
  	<title>三目並べ</title>
>>>>>>> origin/master
<!--     <link rel = "stylesheet" type= "text/css" class = "butto2" href = "/public/css/rayout.css"> -->
  </head>
<body>