<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>ログイン前</title>

</head>
<body>
  <h2>ログイン</h2>
  <form action="/login" method="GET" name="login" id="login">
    <input type="text" name="name" placeholder="Name" id="nametxt">
    <input type="submit" value="ログイン">
  </form>
  <p>※登録なしでログインできるようになりました</p>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="/js/jquery.cookie.js"></script>

  <script type="text/javascript">

  $(function(){
    // クッキーnameが存在する場合は、テキストボックスにセット
    if($.cookie('name')) {
      $('#nametxt').val($.cookie('name'));
    }

    // ボタンクリック時にクッキーnameにテキストボックスの値をセット

    $('#login').submit(function(){

      if($('#nametxt').val() == ""){
        alert("ブランクではログインできません");
      return false;
      }

    $.cookie('name', $('#nametxt').val(), { expires: 7 });
    return true;
    });
  });

</script>
</body>
</html>