<% include ../header %>
<h1>
<p>Login</p>
</h1>
name:
<form name="login" method ="POST" action="/room" style="display: inline">
<input type="text" name="name" >
<input type="submit" value="Login" onclick = "validName()">
</form>

<script type="text/javascript" >

function validName(){
	if(document.login.name.value==""){
		alert("name を入力してください");
		location.href ='/';
	}
}

</script>


<% include ../footer %>
