<% include ../header %>
<h1>
<p>Login</p>
</h1>
name:
<form name="login" method ="POST" action="/room" onsubmit = "return validName()" style="display: inline">
<input type="text" name="name" >
<input type="submit" value="Login">
</form>

<script type="text/javascript" >

var validName = function(){
	if(document.login.name.value==""){
		alert("name を入力してください");
		return false;
	}else{

		return true;
	};
}
</script>


<% include ../footer %>
