<% include ../header %>
<h1>
  <p>Lobby</p>
</h1>


<table class="room" border="1">
  <thead>
    <tr>
      <td id="nameLabel">ROOM名</td>
      <td id="connectCnt">接続人数</td>
      <td id="roomStatus">ROOM状況</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="r1">ROOM 1</td>
      <td id="r1cnt"></td>
      <td id="r1st"></td>
      <td>
        <form method="GET" action="/game" id="gameStart">
          <input type="hidden" name="name" value="<%= name %>">
          <input type="hidden" name="room" value="room-1">
          <input type="submit" class="subroom" value="開始">
        </form>
      </td>
    </tr>
    <tr>
      <td id="r2">ROOM 2</td>
      <td id="r2cnt"></td>
      <td id="r2st"></td>
      <td>
        <form method="GET" action="/game" id="gameStart">
          <input type="hidden" name="name" value="<%= name %>">
          <input type="hidden" name="room" value="room-2">
          <input type="submit" class="subroom" value="開始">
        </form>
      </td>

    </tr>
    <tr>
      <td id="r3">ROOM 3</td>
      <td id="r3cnt"></td>
      <td id="r3st"></td>
      <td>
        <form method="GET" action="/game" id="gameStart">
          <input type="hidden" name="name" value="<%= name %>">
          <input type="hidden" name="room" value="room-3">
          <input type="submit" class="subroom" value="開始">
        </form>
      </td>

    </tr>
  </tbody>
</table>
※ROOMを選択して、ゲームを開始してください。


<p>
  <a href="/logout">ログアウト</a>
</p>

<p>----チャットスペース----</p>
<p>
    <input type="text" id="msg_input" style="width: 200px;">
    <input type="submit"id="publishMessage" value="Talk">
<div id="msg"></div>
</p>

<p>----過去ログ(最新20件)----</p>
<div id="log"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
  var lobby = io.connect('fuesekka:9000/lobby')
      || io.connect('192.168.21.110:9000/lobby');
  var name = "<%= name %>";
</script>
<script type="text/javascript" src="/js/lobbyJS.js"></script>



<% include ../footer %>
