<% include ../header %>
<h1>
	<p>Room</p>
</h1>
<form method="GET" action="/game">
	<input type="hidden" name="name" value="<%= name %>"> <input
		type="submit" value="開始">
</form>

<input type="text" id="msg_input" style="width: 200px;" />
<button id="publishMessage">Talk</button>

<div id="msg"></div>

<p>
	<a href="/logout">ログアウト</a>
</p>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
var name = "<%= name %>";
</script>
<script type="text/javascript" src="/js/socket.js"></script>
<script type="text/javascript" src="/js/roomJS.js"></script>



<% include ../footer %>
